backend:
    name: git-gateway # Prod
    repo: recrea-t/gatsby-recreat-i18n-starter
    branch: main


media_folder: static/images
public_folder: /images

site_url: https://recreat-i18n.netlify.com
display_url: https://recreat-18n.netlify.com
logo_url: https://recreat-i18n.netlify.com/images/logo.svg
locale: "ca"

collections:
    #Posts (English)
    - name: 'posts-en' # Used in routes, e.g., /admin/collections/blog
      label: 'Posts (English)' # Used in the UI
      folder: 'src/pages/blog' # The path to the folder where the documents are stored
      create: true # Allow users to create new documents in this collection
      slug: '{{year}}-{{month}}-{{day}}-{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
      extension: 'en.md'
      format: frontmatter
      fields: # The fields for each document, usually in front matter
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Description', name: 'description', widget: 'string' }
          - {
                label: 'Date',
                name: 'date',
                widget: 'datetime',
                format: 'YYYY-MM-DD hh:mm:ss',
            }
          - { label: 'image', name: 'image', widget: 'image' }
          - {
                label: 'Category',
                name: 'category',
                widget: 'select',
                options:
                    [
                        'Development',
                        'Design',
                        'Communication',
                        'Others',
                    ],
            }
          - {
                label: 'Tags',
                name: 'tags',
                widget: 'list',
            }
          - { label: 'Body', name: 'body', widget: 'markdown' }

    #Posts (Catalan)
    - name: 'posts-pt' # Used in routes, e.g., /admin/collections/blog
      label: 'Posts (Català)' # Used in the UI
      folder: 'src/pages/blog' # The path to the folder where the documents are stored
      create: true # Allow users to create new documents in this collection
      slug: '{{year}}-{{month}}-{{day}}-{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
      extension: 'ca.md'
      format: frontmatter
      fields: # The fields for each document, usually in front matter
          - { label: 'Títol', name: 'title', widget: 'string' }
          - { label: 'Descripció', name: 'description', widget: 'string' }
          - {
                label: 'Data',
                name: 'date',
                widget: 'datetime',
                format: 'YYYY-MM-DD hh:mm:ss',
            }
          - { label: 'image', name: 'image', widget: 'image' }
          - {
                label: 'Categoria',
                name: 'category',
                widget: 'select',
                options:
                    [
                        'Desenvolupament',
                        'Disseny',
                        'Comunicació',
                        'Altres',
                    ],
            }
          - {
                label: 'Etiquetes',
                name: 'tags',
                widget: 'list',
            }
          - { label: 'Cos', name: 'body', widget: 'markdown' }

    #Pages (English)
    - name: 'pages-en' # Used in routes, e.g., /admin/collections/blog
      label: 'Pages (English)' # Used in the UI
      folder: 'src/pages' # The path to the folder where the documents are stored
      slug: '{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
      extension: 'en.md'
      format: frontmatter
      fields: # The fields for each document, usually in front matter
          - {
            label: "Template Key",
            name: "templateKey",
            widget: "hidden",
            default: "index-page"
            }
          - { label: 'Title (SEO)', name: 'title', widget: 'string' }
          - { label: 'Description (SEO)', name: 'description', widget: 'text' }

    #Pages (Catalan)
    - name: 'pages-ca' # Used in routes, e.g., /admin/collections/blog
      label: 'Pàgines (Català)' # Used in the UI
      folder: 'src/pages' # The path to the folder where the documents are stored
      create: true # Allow users to create new documents in this collection
      slug: '{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
      extension: 'ca.md'
      format: frontmatter
      fields: # The fields for each document, usually in front matter
          - {
            label: "Template Key",
            name: "templateKey",
            widget: "hidden",
            default: "index-page"
            }
          - { label: 'Títol (SEO)', name: 'title', widget: 'string' }
          - { label: 'Descripció (SEO)', name: 'description', widget: 'text' }
